@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to The FinalProjectWeb2025</h2>
<div style="display: flex; gap: 15px; flex-wrap: wrap;">
    <a class="btn-link" href="/CodeTips/ShowAllTips">show All Tips</a><br /><br />
    <a class="btn-link" href="/CodeTips/Create">Add New Tip</a><br /><br />
    <a class="btn-link" href="/CodeTips/ShowAllUsers">Show All Users</a><br /><br />
    <a class="btn-link" href="/CodeTips/Login">Login</a><br /><br />
    <a class="btn-link" href="/CodeTips/Logout">Logout</a><br /><br />
</div>
