@model List<finalProjectWeb2025.Models.Tips>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Tips similar to "@ViewBag.OriginalTitle"</h2>
@if (Model.Count == 0)
{
    <p>no similar tips found</p>
}
else
{
    <ul> 
        @foreach(var tip in Model)
        {
            <li>
                <strong>@tip.Title</strong>  @tip.Category<br />
                @tip.Content
            </li>
        }

    </ul>
}

